<div class="grid">
{{#each children}}
  <div class="lo-one-third grid-item">
    {{#if image}}
      <img class="grid-item-image" src="/assets/grid-view/illustrations/{{image}}">
    {{/if}}
    {{#if link}}
      <a href="{{link}}" class="grid-item-link" title="{{link_title}}"><h1>{{link_title}}</h1></a>
    {{else}}
      <a href="/index.php?ID={{id}}" class="grid-item-link" title="{{pagetitle}}"><h1>{{pagetitle}}</h1></a>
    {{/if}}
  </div>

{{/each}}
</div>
